span.wpcf7-not-valid-tip {
	direction: rtl;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip {
	left: auto;
	right: 20%;
}

span.wpcf7-list-item {
	margin: 0 1em 0 0;
}

/*
     FILE ARCHIVED ON 15:55:23 Oct 09, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:01:23 Feb 24, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.703
  exclusion.robots: 0.023
  exclusion.robots.policy: 0.011
  esindex: 0.015
  cdx.remote: 21.469
  LoadShardBlock: 500.102 (3)
  PetaboxLoader3.resolve: 456.647 (4)
  PetaboxLoader3.datanode: 138.88 (4)
  load_resource: 105.164
*/